// Place all the styles related to the pad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#pad {
  
  .pad_text, #mark_down{
    position: absolute;
    padding: 20px;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
    background: #fff;
  }

  #status {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #99DB45;
    border: 1px solid #73AE27;
    color: #fff;
    padding: 5px 10px;

    &.loading{
      background-color: orange;
    }
  }
}